.InputForm {
    background-color: rgba(68, 68, 190, 0.432);
    border: dotted black 1px;
    height: 30px;
    width: 50%;
    border-radius: 8px;
    text-align: center;
}

.InputForm::placeholder {
    text-align: center;
}